
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 13% 90%;
    --foreground: 203 39% 15%;
    --card: 203 13% 98%;
    --card-foreground: 203 39% 15%;
    --popover: 203 13% 98%;
    --popover-foreground: 203 39% 15%;
    --primary: 203 39% 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 203 15% 80%;
    --secondary-foreground: 203 39% 29%;
    --muted: 203 15% 85%;
    --muted-foreground: 203 30% 40%;
    --accent: 137 25% 51%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 203 20% 75%;
    --input: 203 20% 85%;
    --ring: 203 39% 29%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 203 30% 12%;
    --foreground: 195 13% 90%;
    --card: 203 30% 18%;
    --card-foreground: 195 13% 90%;
    --popover: 203 30% 12%;
    --popover-foreground: 195 13% 90%;
    --primary: 195 13% 80%;
    --primary-foreground: 203 39% 15%;
    --secondary: 203 30% 25%;
    --secondary-foreground: 195 13% 90%;
    --muted: 203 30% 25%;
    --muted-foreground: 195 10% 60%;
    --accent: 137 25% 61%;
    --accent-foreground: 203 30% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 203 30% 25%;
    --input: 203 30% 25%;
    --ring: 137 25% 61%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media print {
  body > * {
    display: none !important;
  }

  body > #printable-certificate,
  body > #printable-certificate * {
    display: block !important;
    visibility: visible !important;
  }

  #printable-certificate {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
  }
}
